<!DOCTYPE html>
<html>
<head>
    <title>stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
<div class='main-wrapper'>
    <div class="block-item" id='temp-block'>
        <div class="button-row">
            <div>
                <label for="temp-size">Size</label>
                <input id="temp-size" type="number">
            </div>
            <div>
                <label for="temp-minuten">Minuten</label>
                <input id="temp-minuten" type="number">
            </div>
        </div>
        <div id='temp-graph' class='graph'></div>
    </div>
    <div class="block-item" id='speed-block'>
        <div class="button-row">
            <div>
                <label for="speed-size">Size</label>
                <input id="speed-size" type="number">
            </div>
            <div>
                <label for="speed-minuten">Minuten</label>
                <input id="speed-minuten" type="number">
            </div>
        </div>
        <div id='speed-graph' class='graph'></div>
    </div>
    <div class="block-item" id='presure-block'>
        <div class="button-row">
            <div>
                <label for="presure-size">Size</label>
                <input id="presure-size" type="number">
            </div>
            <div>
                <label for="presure-minuten">Minuten</label>
                <input id="presure-minuten" type="number">
            </div>
        </div>
        <div id='presure-graph' class='graph'></div>
    </div>
</div>
<script type="text/javascript">
    document.querySelectorAll("input[type=text], input[type=number]").forEach(input => {
        const elem = input;
        elem.addEventListener("onfocusin", () => {
            const label = elem.parentElement.firstElementChild;
            if (!label.classList.contains("active")) {
                label.classList.add("active");
            }
        });
        elem.addEventListener("focusout", () => {
            const label = elem.parentElement.firstElementChild;
            if (label.classList.contains("active") || elem.value === "") {
                label.classList.remove("active");
            }
        });
    });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='canvas.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
